---
---
@import "{{ site.theme }}";

.page-header {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #000000;
    background-image: none;

    .project-name {
        font-family: 'Courier New', Courier, monospace;
        color: #00FF41;
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .project-tagline {
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        color: #ffffff;
        opacity: 0.7;
        margin-top: 0.5rem
    }
}