---
---
@import "{{ site.theme }}";

body {
    background-color: #121212 !important;
    color: #f0f0f0 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-header {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #000000 !important;
    background-image: none;

    .project-name {
        font-family: 'Courier New', Courier, monospace;
        color: #00FF41 !important;
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .project-tagline {
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        color: #ffffff !important;
        opacity: 0.7;
        margin-top: 0.5rem
    }
}